<%- include ("../partials/header")%>
<div class="container">
    <header class="bg-light">
        <div class="container p-5 mx-5">
            <h1>THE BLOG APP</h1>
            <p>Write What You Want!!!!</p>
            <p>
                <a class="btn btn-primary btn-lg " href="/blog/new">Add new blog</a>
            </p>
        </div>
    </header>
</div>
<a href="/allblogs">see all blog</a>

<%- include ("../partials/footer")%>
